
  *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:'Poppins',sans-serif;
    }

    body{
      background:#0f172a;
      color:#e5e7eb;
    }

    header{
      position:fixed;
      top:0;
      width:100%;
      background:#c0c6df;
      z-index:1000;
    }

    nav{
      max-width:1200px;
      margin:auto;
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:15px 20px;
    }

    nav h1{
      color:#2224b4;
      font-size:24px;
    }

    nav ul{
      list-style:none;
      display:flex;
      gap:25px;
    }

    nav ul li{
      cursor:pointer;
      color:#000000;
      font-size:15px;
    }

    nav ul li:hover{
      color:#2224b4;
    }
    /* Hamburger - hide on desktop */
    .hamburger{
      display: none;
      font-size: 24px;
      cursor: pointer;
      color: #2224b4;
    }
    .nav-links {
      list-style: none;
      display: flex;
      gap: 25px;
    }

/* Hamburger hidden desktop */
   .hamburger {
      display: none;
      font-size: 28px;
      cursor: pointer;
    }

/* Mobile view */
    @media(max-width:768px){
      .nav-links {
         display: none; /* hide by default */
         flex-direction: column;
         background:#fbfbff;
         position: absolute;
         top: 60px;
         right: 20px;
         width: 180px;
         padding: 15px;
         border-radius: 8px;
       }

      .hamburger {
        display: block;
      }

      .nav-links.active {
        display: flex; /* show menu on click */
      }
    }     



    section{
      min-height:100vh;
      padding:120px 20px;
      display:none;
    }

    section.active{
      display:block;
      animation:fade .5s ease;
    }

    .container{
      max-width:1100px;
      margin:auto;
    }

    @keyframes fade{
      from{
        opacity:0;
        transform:translateY(20px);
      }
      to{
        opacity:1;
        transform:translateY(0);
      }
    }

    /* HOME */
    .home{
      display:flex;
      align-items:center;
      justify-content:center;
      text-align:center;
      min-height: 100vh;
      padding: 120px 20px;
    }

    .home h2{
      font-size:38px;
      margin-bottom:20px;
      margin-top: 70px;
    }

    .home span{
      color:#38bdf8;
    }

    .home p{
      max-width:600px;
      margin:0 auto 30px;
      color:#cbd5f5;
      padding: 0 15px;
    }

    .home-buttons{
      display:flex;
      justify-content:center;
      gap:20px;
      flex-wrap:wrap;
    }

    .home-buttons button,
    .home-buttons a{
      padding:14px 30px;
      border:none;
      border-radius:30px;
      background:#38bdf8;
      color:#020617;
      font-weight:600;
      cursor:pointer;
      text-decoration:none;
    }

    h2{
      font-size:28px;
      margin-bottom:20px;
    }
    .resume-actions{
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 20px;
    }

    .btn{
      
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 12px 22px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s ease;
    }

    .view-btn{
      background-color: #2563eb;
      color: #fff;

    }

    .view-btn:hover{
      background-color: #1e40af;
    }

    /* RESPONSIVE - Mobile */
    @media (max-width: 768px){
  /* Show hamburger */
       .hamburger{
       display: block;
    }
}


    @media (max-width: 600px){
      .resume-actions{
      flex-direction: column;
      }
    }
    @media(max-width:600px){
      .view-btn{
        margin: 0 auto;
      }
    }

    /* ABOUT */
    .About{
      display:flex;
      align-items:center;
      justify-content:center;
      padding-bottom: 80px;
      margin-top: 10px;
      
    }
    .About p{
        font-size: 16px;
        margin: 0 auto;
        line-height: 2;
        max-width: 1000px;
        text-align: justify;
        

    }
    .About h2{
        text-align: center;
        color:#38bdf8;
        font-size: 35px;
    }

    /* SKILLS */
    .skills-grid{
      display:grid;
      grid-template-columns:repeat(2,1fr);
      gap:20px;
      max-width: 700px;
      margin: auto;
    }
    #skills h2{
        text-align: center;
        margin-bottom: 30px;
        font-size: 35px;
        color:#eaf2f5;
        
    }

    .skill{
      background:#8dd4e6;
      color: #000000;
      padding:25px;
      border-radius:10px;
      text-align:center;
      font-size: 25px;
      font-weight:400;
    }
    @media(max-width:600px)
    {
      .skills-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 12px;
        .skill{
          font-size: 15px;
          padding: 15px;
          max-width: 140px;
          margin-bottom: 20px;
        }
      }
    }
    /* PROJECT  */
    
    .project-details{
      margin-top:20px;
      display:flex;
      flex-direction:column;
      gap:60px;
      text-align:center;
    }

    .project-item h2{
      font-size:30px;
      margin-bottom:10px;
      color: #38bdf8;
      
    }
    .container h1{
      font-size: 35px;
      
    }
    .project-details hr{
      color: gray;
    }
    .project-item p{
      max-width:700px;
      margin:0 auto 20px;
      line-height:1.8;
      color:#cbd5f5;
    }

    .project-item img{
      width:100%;
      max-width:600px;
      border-radius:14px;
      margin-bottom:15px;
    }

    .project-links a{
      display:inline-block;
      margin:0 10px;
      padding:10px 22px;
      border-radius:25px;
      background:#38bdf8;
      color:#020617;
      font-weight:600;
      text-decoration:none;
    }
    .img{
        width: 20px;
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
        
        margin: 15px 0;
    }

    /* CONTACT */
    .contact{
      text-align:center;
      padding:60px 20px;
    }

    .contact h2{
      margin-top:100px;
    }

    .contact-btn{
      display:inline-block;
      margin:10px;
      padding:12px 26px;
      border-radius:8px;
      text-decoration:none;
      font-weight:600;
      color:white;
      transition:0.3s;
    }

    .email-btn{
      background:#f83e38;
      color: yellow;
    }
    .email-btn:hover{
      background-color: #59e636;
      color: rgb(18, 67, 230);
    }

    .linkedin-btn{
      background:#0A66C2;
    }

    .github-btn{
      background:#171515;
    }
    .github-btn:hover{
      background-color: #fff;
      color: #000000;
    }

    .contact-btn:hover{
      opacity:0.85;
    }
    @media(max-width:600px)
    {
      .contact-btn{
        width: 90%;
        max-width: 320px;
        margin: 18px auto;
      }
    }


    /* FOOTER */
    
    footer{
      text-align:center;
      padding:20px;
      color:#94a3b8;
    }

    @media(max-width:600px){
      .home h2{
        font-size:28px;
      }
    }
  
